In [48]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
import seaborn as sb

In [49]:
iris=pd.read_csv('C:\\Users\\Kareem\\Downloads\\Iris.csv')

In [50]:
iris.drop('Id',axis=1,inplace=True)

In [51]:
#convert  iris["Species"] object to categorical

iris["Species"]=iris["Species"].astype('category')

iris["Species"]=iris["Species"].cat.codes


iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [52]:
x=iris.iloc[:,0:4]
y=iris.iloc[:,4]
print(x)
print( )
print(y)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
(x_train.shape,y_train.shape)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int8

((120, 4), (120,))

In [53]:
from sklearn.neighbors import KNeighborsClassifier
i=0
for n in range (i+5):
knn = KNeighborsClassifier(n+1)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

IndentationError: expected an indented block (2682047011.py, line 4)