In [ ]:
import pandas as pd
df = pd.read_csv('/content/auto-mpg_without nan.csv')

In [ ]:
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0    18.0          8         307.0         130    3504          12.0  1970
1    15.0          8         350.0         165    3693          11.5  1970
2    18.0          8         318.0         150    3436          11.0  1970
3    16.0          8         304.0         150    3433          12.0  1970
4    17.0          8         302.0         140    3449          10.5  1970
..    ...        ...           ...         ...     ...           ...   ...
387  27.0          4         140.0          86    2790          15.6  1982
388  44.0          4          97.0          52    2130          24.6  1982
389  32.0          4         135.0          84    2295          11.6  1982
390  28.0          4         120.0          79    2625          18.6  1982
391  31.0          4         119.0          82    2720          19.4  1982

      origin                       name
0        USA  chevrolet chevelle malibu
1        USA          buick skylark 320
2        USA         plymouth satellite
3        USA              amc rebel sst
4        USA                ford torino
..       ...                        ...
387      USA            ford mustang gl
388  Germany                  vw pickup
389      USA              dodge rampage
390      USA                ford ranger
391      USA                 chevy s-10

[392 rows x 9 columns]

In [ ]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [ ]:
#convert  df["origin"] object to categorical
df["origin"]=df["origin"].astype('category')
df["origin"]=df["origin"].cat.codes
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0    18.0          8         307.0         130    3504          12.0  1970
1    15.0          8         350.0         165    3693          11.5  1970
2    18.0          8         318.0         150    3436          11.0  1970
3    16.0          8         304.0         150    3433          12.0  1970
4    17.0          8         302.0         140    3449          10.5  1970
..    ...        ...           ...         ...     ...           ...   ...
387  27.0          4         140.0          86    2790          15.6  1982
388  44.0          4          97.0          52    2130          24.6  1982
389  32.0          4         135.0          84    2295          11.6  1982
390  28.0          4         120.0          79    2625          18.6  1982
391  31.0          4         119.0          82    2720          19.4  1982

     origin                       name
0         2  chevrolet chevelle malibu
1         2          buick skylark 320
2         2         plymouth satellite
3         2              amc rebel sst
4         2                ford torino
..      ...                        ...
387       2            ford mustang gl
388       0                  vw pickup
389       2              dodge rampage
390       2                ford ranger
391       2                 chevy s-10

[392 rows x 9 columns]

In [ ]:
df.drop(df.columns[8:],axis=1,inplace=True)
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0    18.0          8         307.0         130    3504          12.0  1970
1    15.0          8         350.0         165    3693          11.5  1970
2    18.0          8         318.0         150    3436          11.0  1970
3    16.0          8         304.0         150    3433          12.0  1970
4    17.0          8         302.0         140    3449          10.5  1970
..    ...        ...           ...         ...     ...           ...   ...
387  27.0          4         140.0          86    2790          15.6  1982
388  44.0          4          97.0          52    2130          24.6  1982
389  32.0          4         135.0          84    2295          11.6  1982
390  28.0          4         120.0          79    2625          18.6  1982
391  31.0          4         119.0          82    2720          19.4  1982

     origin
0         2
1         2
2         2
3         2
4         2
..      ...
387       2
388       0
389       2
390       2
391       2

[392 rows x 8 columns]

In [ ]:
x=df.iloc[:,1::]
# x=df.iloc[:,1:8]
y=df.iloc[:,0]

In [ ]:
x.shape

(392, 7)

In [ ]:
y.shape

(392,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape

(313, 7)

In [ ]:
y_train.shape

(313,)

In [ ]:
X_test.shape

(79, 7)

In [ ]:
from sklearn import linear_model
model = linear_model.LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_pred.shape

from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,y_pred)
mae=mae.astype(int)
mae

from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.7924340895411506